* {
	margin: 0px;
	padding:0px;
}

html, body {
	font-size:15px;
	color:rgb(24, 13, 43);
	font-family: Helvetica, sans-serif;
	background: #f6f0f9;
	background-size:100% auto;
	line-height:18px;
	width:90%;
	max-width: 1300px;
	margin-left:auto;
	margin-right:auto;
}

nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header{
  position: static;
  display: inline-block;
  margin-bottom: 15px;
	background-color: #662543;
	border: solid #662543 2px;
  color: #f6f0f9;
	height:250px;
	width: 100%;
}

#cabecera {
  width: 100%;
  height: 100%;
  border: solid #662543 1px;
}

#div_header{
  width: 100%;
  margin-bottom: 2px;
	clear:both;
	box-sizing:border-box;
	border-width:1px;
	position:static;
}

.div_menu {
display: inline-block;
}

.myButton {
	box-shadow: 0px 10px 10px -7px #662543;
	background:linear-gradient(to bottom, #7f2e54 5%, #662543 100%);
	background-color:#7f2e54;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#f6f0f9;
	font-family:Trebuchet MS;
	font-size:25px;
	padding:12px 35px;
	text-decoration:none;
	text-shadow:0px 2px 6px #000000;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 15px;
	margin-top: 5px;
}

.myButton:hover {
	background:linear-gradient(to bottom, #662543 5%, #7f2e54 100%);
	background-color:#662543;
}

.myButton:active {
	position:relative;
	top:1px;
}

section{
	display: inline-block;
	border: solid #662543 2px;
 background-color: #e29db4;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 margin-bottom: 30px;
 margin-top: 15px;
}

h1 {
	font-size: 35px;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

h1,h2,h4 {
	color: #662543;
	font-family: sans-serif;
	text-align: left;
}


span{
	display: block;
	margin-left: 5%;
	margin-right: 10%;
}

article {
	width: 90%;
	display: inline-block;
	clear: both;
}

p {
	color: #662543;
	text-align: justify;
	width: auto;
	float: none;
}

.form {
	display: inline-block;
}
form {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

form>p {
	font-size: 20px;
}
input {
	margin: 7px;
	padding: 5px;
	display: block;
	font-size: 20px;
	width: 100%;

}

/* imagenes de index.html */


.imgleft {
	position: relative;
	float: left;
	display: inline-block;
	margin-right: 30px;
	max-height: 300px;
	max-width: 300px;
	width: 40%;
	height: auto;
}
.imgright {
	position: relative;
	float: right;
	display: inline-block;
	margin-left: 30px;
	max-height: 300px;
	max-width: 300px;
	width: 40%;
	height: auto;
}

.imgbot{
	display: inline-block;
	margin-top: 30px;
	width: 80%;
	height: auto;
}
.imgtop {
	display: inline-block;
	margin-bottom: 30px;
	width: 70%;
	height: auto;
}

img {
	border: solid #662543 2px;
}
.TextWrap {
	position: relative;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.gallerysquare {
	width: 18%;
}
.noborder {
	border: hidden !important;
}

article {
margin: 15px;
}

footer{
  bottom: 0px;
  background-color: #662543;
	border: solid #662543 2px;
	height:109px;
	width: 100%;
	bottom:0;
}
footer>p {
	text-align: center;
	color: #f6f0f9;
}
a {
	color: #f6f0f9;
}
