html{
  width:100%;
  height:100%;
}
body{
  left:0px;
  margin:auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.izquierda{
  position: relative;
  float: left;
  width: 300px;
  height: 500px;
  border: 1px solid orange;
}

#green {
position: relative;
float: left;
width: 100%;
height: 150px;
border: 1px solid #00fd00;
}

.derecha{
  position: relative;
  float: left;
  width: 400px;
  height: 500px;
  border: 1px solid blue;
}

.noticia1 {
  position: relative;
  float: left;
  width: 100%;
  height: 30px;
  border: 1px solid grey;
}
.foto {
  position: relative;
  float: left;
  width: 125px;
  height: 125px;
  border: 1px solid magenta;
}
